.background-color-blue{
    --background: #0d7feb;
  }
  
  .background-color-white{
    --background: #0d7feb;
  }
  
  .pagina-centrada{
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .boton{
      margin-top: 30px;
    
  }

  .imagen{
      padding: 10%;
  }



