<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>


    <ion-card-header>
      <ion-card-title>Restablecer contrasena</ion-card-title>
    </ion-card-header>
      
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">cambiar contrasena</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    

      <ion-row>
      <ion-col>
        <ion-button type="submit" routerLink="/home"  expand="block">Guardar</ion-button>
        
        <ion-button type="submit" routerLink="/home" color="danger" expand="block">Salir</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>


      
